.homeImg{
    width:50%;
    border-radius: 6px;
    height: 400px;
}
.homeImg:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.1);
    margin-top: 10px;
  }
#divImg{
    margin-bottom:128px;
}
#divCon{
    max-width:1400px
}
#headerHome{
    padding:10px 6px;
}
.inputSignUp {
    margin-top: 1px;
      border: rgb(114, 114, 114) 2px solid;
      border-radius: 4px;
      width: 15%;
      padding: 5px;
      font-size: 16px;
      display: block;
      margin-right: auto;
      margin-left: auto;
     
    }
    .btnLogIn{
        margin:10px;
        padding: 5px;
    }
    .newCustomer{
        font-size: 15px;
    
    }
    .signUp{
        text-align: center;
        margin-top: 50px;
    }
     
    .PagenotFound{
        text-align: center;
        font-family: cursive;
font-size: 90px;
margin: 100px;
    }
    .notFoundTitle{
        color: rgba(255, 0, 0, 0.767);
        font-size: 100px;
    }
  
    .menuDes{
        font-size: 14px;
    }
   .smallimg{
       height: 100px;
       width:80px;
       margin-top: 10px;

   } 
   .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
}
.menu{
    font-family: sans-serif;
    font-size: 14px;
}
.menu-group-heading {
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid rgb(53, 49, 49);

    ;
}
.menu-group{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
}
.menu-item{
    display: flex;
}
.menu-item-image{
    width: 125px;
    height: 90px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
    cursor:pointer;
}
.menu-item-text{
    flex-grow: 1;
}
.menu-item-heading{
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.menu-item-name {
    margin-right: 1.5em;
}
.menu-item-description{
    line-height: 1.6em;
}
.menu-item-price {
    
    margin-left: auto;
    font-size: 15px;


}
.menu-item-cart button{
    border-style: hidden;
    background-color: white;

}
@media screen and (min-width: 992px) {
    .menu{
        font-size: 16px;
    }
    .menu-group {
        grid-template-columns: repeat(2 , 1fr);

    }
    
}

.imgss1{
    height: 200px;
    width: 20%;
    border-radius: 5px;
    display: center;  
}
  

.cookPage{
    text-align: center;
}
.FoodName{
    font-size: 20px;
    font-family: Serif;
}



.onePage-item-button{
    border:none;
    background-color: white;
    font-size: 30px;
}
.admin{
    text-align: center;
    font-family: Marker Felt, fantasy;
}
.adminP{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
}
.qtyBtn{
    border-style: hidden;
    background-color: white;
}
.orderBtn{
    width: 210px;
    margin-top: 40px;
    margin-left: 20px;
}
.Cart-Container{
    width: 70%;
    height: 85%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
   }
  
  
   /* cart css */

 

   .wrongPass{
       color: rgb(170, 85, 85);
       margin-top: 5px;
       font-size: 15px;
   }
   .orderSuccessful{
       text-align: center;
       margin-top: 90px;
   }

   .orderText{
       color: green;
       font: bold;
       font-family:initial
   }
   .upload{

        background-color: white;
        color: black;
        border: 2px solid #e7e7e7;
    
   }
      .upload:hover {background-color: #e7e7e7;}

   .x{
       color: red;
       border: hidden;
background-color: white;
font-size: 20px;
   }
   .x:hover{
    background-color: #e7e7e7;
   }

   /*Home css */

 
  .w4-xlarge{

    position: relative;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: 20;
}
  @keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    100% {left:0px; top:0px;}
  } 

  

  




  